extends ../../template/_layout

block pageVar
	-
		page = 'main-page';

block path
	-
		baseDir = '/f';

block articleVar
	-
		article = 'О недержании'

block page
	section.preview-catalog
		.container
			.preview-catalog__wrap
				.preview-catalog__img
					img(src=`${baseDir}/img/depend-prod.png`, alt="", width='492', height='218')
				.preview-catalog__content
					h2.preview-catalog__title Выберите подходящую продукцию:
					ul.preview-catalog__list
						li.preview-catalog__item
							a.preview-catalog__link(href="#") Для мужчин
						li.preview-catalog__item
							a.preview-catalog__link(href="#") Для женщин
						li.preview-catalog__item
							a.preview-catalog__link(href="#") После родов

	include ../../template/_article

	section.preview-shops
		.container
			.preview-shops__wrap
				.preview-shops__img
					img(loading='lazy' src=`${baseDir}/img/buy.jpg`, alt="", width='590', height='300')
				.preview-shops__content
					h2.preview-shops__title Купить
					p.preview-shops__text Вы можете купить продукцию Depend в магазинах вашего города или онлайн
					a.preview-shops__link(href="#") Где купить
	section.sales
		.container.sales__container
			h2.sales__title Акции от партнеров
			.sales__slider.swiper.js-sales-slider
				ul.sales__list.swiper-wrapper
					li.sales__item.swiper-slide
						.sales__images
							.sales__img
								img.swiper-lazy(data-src=`${baseDir}/img/ya-item2.jpg`, alt="", width='373', height='190')
								.lazy-preloader.swiper-lazy-preloader
							.sales__logo
								img(src=`${baseDir}/img/ya-logo.jpg`, alt="", width='60', height='60')
						.sales__content
							h3.sales__sub-title Скидки до 40% на сайте Яндекс Маркет
							p.sales__text C 01.10.2021 по 21.10.2021 скидки до 40% на прокладки Depend!
							a.sales__link(href="#", target="_blank", rel="noopener noreferrer") В магазин
					li.sales__item.swiper-slide
						.sales__images
							.sales__img
								img.swiper-lazy(data-src=`${baseDir}/img/item-ozone.jpg`, alt="", width='373', height='190')
								.lazy-preloader.swiper-lazy-preloader
							.sales__logo
								img(src=`${baseDir}/img/ozon-logo.jpg`, alt="", width='60', height='60')
						.sales__content
							h3.sales__sub-title Распродажа на Ozon.ru. Скидки до 80%!
							p.sales__text Успейте приобрести белье от Depend со скидкой до 80%
							a.sales__link(href="#", target="_blank", rel="noopener noreferrer") В магазин
					li.sales__item.swiper-slide
						.sales__images
							.sales__img
								img.swiper-lazy(data-src=`${baseDir}/img/ya-item.jpg`, alt="", width='373', height='190')
								.lazy-preloader.swiper-lazy-preloader
							.sales__logo
								img(src=`${baseDir}/img/ya-logo.jpg`, alt="", width='60', height='60')
						.sales__content
							h3.sales__sub-title Скидки до 40% на сайте Яндекс Маркет
							p.sales__text C 01.10.2021 по 21.10.2021 скидки до 40% на впитывающее нижнее белье Depend!
							a.sales__link(href="#", target="_blank", rel="noopener noreferrer") В магазин
					li.sales__item.swiper-slide
						.sales__images
							.sales__img
								img.swiper-lazy(data-src=`${baseDir}/img/ya-item.jpg`, alt="", width='373', height='190')
								.lazy-preloader.swiper-lazy-preloader
							.sales__logo
								img(src=`${baseDir}/img/ya-logo.jpg`, alt="", width='60', height='60')
						.sales__content
							h3.sales__sub-title Скидки до 40% на сайте Яндекс Маркет
							p.sales__text C 01.10.2021 по 21.10.2021 скидки до 40% на впитывающее нижнее белье Depend!
							a.sales__link(href="#", target="_blank", rel="noopener noreferrer") В магазин
					li.sales__item.swiper-slide
						.sales__images
							.sales__img
								img.swiper-lazy(data-src=`${baseDir}/img/ya-item.jpg`, alt="", width='373', height='190')
								.lazy-preloader.swiper-lazy-preloader
							.sales__logo
								img(src=`${baseDir}/img/ya-logo.jpg`, alt="", width='60', height='60')
						.sales__content
							h3.sales__sub-title Скидки до 40% на сайте Яндекс Маркет
							p.sales__text C 01.10.2021 по 21.10.2021 скидки до 40% на впитывающее нижнее белье Depend!
							a.sales__link(href="#", target="_blank", rel="noopener noreferrer") В магазин
				a.sales__more-link(href='#') Все акции
			button.sales__slider-btn.sales__slider-prev-btn.js-sales-prev
			button.sales__slider-btn.sales__slider-next-btn.js-sales-next
	section.recomindation
		.container.recomendation__container
			h2.recomendation__title Каждый день приносит новые возможности
			p.recomendation__text Попробуйте выработать эти простые привычки и обретите жизнь заново! Прокладки и впитывающее белье Depend можно подобрать для любой степени недержания.
