block templates
	template.js-products-template
		li.products__item.js-products-item(data-drops='1')
			.products__item-images
				.products__img
					img(loading='lazy' src=`${baseDir}/img/depend-item1.jpg`, alt="", width='212', height='220')
				.products__icons
					- for (var x = 0; x < 7; x++)
							svg.products__icon.js-products-drops(width="9" height="12")
								use(href=`${baseDir}/img/sprite.svg#drops`)
			.products__content
				h2.products__title Прокладки Depend<sup class="reg">&reg;</sup> Ultra Mini
				p.products__text Наши самые тонкие прокладки для защиты при капельном и легком недержании.
				ul.products__i-list
					li.products__i-item
						.products__i-img
							img(src=`${baseDir}/img/image98.png`, alt="", width='32', height='32')
						span.products__i-text Полный контроль над протеканием
					li.products__i-item
						.products__i-img
							img(src=`${baseDir}/img/image97.png`, alt="", width='32', height='32')
						span.products__i-text Максимальная сухость
					li.products__i-item
						.products__i-img
							img(src=`${baseDir}/img/image99.png`, alt="", width='32', height='32')
						span.products__i-text Контроль над запахом
			a.products__more-link(href="#") Подробнее
		li.products__item.js-products-item(data-drops='1')
			.products__item-images
				.products__img
					img(loading='lazy' src=`${baseDir}/img/depend-item2.jpg`, alt="", width='212', height='220')
				.products__icons
					- for (var x = 0; x < 7; x++)
							svg.products__icon.js-products-drops(width="9" height="12")
								use(href=`${baseDir}/img/sprite.svg#drops`)
			.products__content
				h2.products__title Прокладки Depend<sup class="reg">&reg;</sup> Ultra Mini (12 штук)
				p.products__text Специально разработанные прокладки Active-Fit (Эктив Фит) помогают обеспечить незаметную и комфортную защиту даже когда вы активны.
				ul.products__i-list
					li.products__i-item
						.products__i-img
							img(src=`${baseDir}/img/image98.png`, alt="", width='32', height='32')
						span.products__i-text Ультратонкий впитывающий центр FlexLoc
					li.products__i-item
						.products__i-img
							img(src=`${baseDir}/img/image97.png`, alt="", width='32', height='32')
						span.products__i-text Индивидуальная упаковка каждой прокладки
					li.products__i-item
						.products__i-img
							img(src=`${baseDir}/img/image99.png`, alt="", width='32', height='32')
						span.products__i-text Действительно компактная пачка
			a.products__more-link(href="#") Подробнее
		li.products__item.js-products-item(data-drops='3')
			.products__item-images
				.products__img
					img(loading='lazy' src=`${baseDir}/img/depend-item3.jpg`, alt="", width='212', height='220')
				.products__icons
					- for (var x = 0; x < 7; x++)
							svg.products__icon.js-products-drops(width="9" height="12")
								use(href=`${baseDir}/img/sprite.svg#drops`)
			.products__content
				h2.products__title Прокладки Depend<sup class="reg">&reg;</sup> Normal
				p.products__text Прокладки Depend<sup class="reg">&reg;</sup> Normal для защиты при среднем недержании.
				ul.products__i-list
					li.products__i-item
						.products__i-img
							img(src=`${baseDir}/img/image98.png`, alt="", width='32', height='32')
						span.products__i-text Полный контроль над протеканием
					li.products__i-item
						.products__i-img
							img(src=`${baseDir}/img/image97.png`, alt="", width='32', height='32')
						span.products__i-text Максимальная сухость
					li.products__i-item
						.products__i-img
							img(src=`${baseDir}/img/image99.png`, alt="", width='32', height='32')
						span.products__i-text Контроль над запахом
			a.products__more-link(href="#") Подробнее
		li.products__item.js-products-item(data-drops='5')
			.products__item-images
				.products__img
					img(loading='lazy' src=`${baseDir}/img/depend-item4.jpg`, alt="", width='212', height='220')
				.products__icons
					- for (var x = 0; x < 7; x++)
							svg.products__icon.js-products-drops(width="9" height="12")
								use(href=`${baseDir}/img/sprite.svg#drops`)
			.products__content
				h2.products__title Прокладки Depend<sup class="reg">&reg;</sup> Super
				p.products__text Прокладки Depend<sup class="reg">&reg;</sup> Super для защиты при среднем недержании. Система 4в1 защитит от протеканий, обеспечит максимальную сухость и контроль над запахом, а мягкая поверхность обеспечит комфорт в ношении.
				ul.products__i-list
					li.products__i-item
						.products__i-img
							img(src=`${baseDir}/img/image98.png`, alt="", width='32', height='32')
						span.products__i-text Полный контроль над протеканием
					li.products__i-item
						.products__i-img
							img(src=`${baseDir}/img/image97.png`, alt="", width='32', height='32')
						span.products__i-text Максимальная сухость
					li.products__i-item
						.products__i-img
							img(src=`${baseDir}/img/image99.png`, alt="", width='32', height='32')
						span.products__i-text Контроль над запахом
			a.products__more-link(href="#") Подробнее
		li.products__item.js-products-item(data-drops='7')
			.products__item-images
				.products__img
					img(loading='lazy' src=`${baseDir}/img/depend-item5.jpg`, alt="", width='212', height='220')
				.products__icons
					- for (var x = 0; x < 7; x++)
							svg.products__icon.js-products-drops(width="9" height="12")
								use(href=`${baseDir}/img/sprite.svg#drops`)
			.products__content
				h2.products__title Впитывающее нижнее белье Depend<sup class="reg">&reg;</sup> для Женщин L\XL
				p.products__text Наше впитывающее белье Depend<sup class="reg">&reg;</sup> создано специально для женщин с учетом анатомических особенностей тела
				ul.products__i-list
					li.products__i-item
						.products__i-img
							img(src=`${baseDir}/img/image98.png`, alt="", width='32', height='32')
						span.products__i-text Быстровпитывающие каналы
					li.products__i-item
						.products__i-img
							img(src=`${baseDir}/img/image97.png`, alt="", width='32', height='32')
						span.products__i-text Специальные фильтры, устраняющие запах
					li.products__i-item
						.products__i-img
							img(src=`${baseDir}/img/image99.png`, alt="", width='32', height='32')
						span.products__i-text Защита на всю ночь
			a.products__more-link(href="#") Подробнее
		li.products__item.js-products-item(data-drops='7')
			.products__item-images
				.products__img
					img(loading='lazy' src=`${baseDir}/img/depend-item6.jpg`, alt="", width='212', height='220')
				.products__icons
					- for (var x = 0; x < 7; x++)
							svg.products__icon.js-products-drops(width="9" height="12")
								use(href=`${baseDir}/img/sprite.svg#drops`)
			.products__content
				h2.products__title Впитывающее нижнее белье Depend<sup class="reg">&reg;</sup> для Женщин M\L
				p.products__text Наше впитывающее белье Depend<sup class="reg">&reg;</sup> создано специально для женщин с учетом анатомических особенностей тела
				ul.products__i-list
					li.products__i-item
						.products__i-img
							img(src=`${baseDir}/img/image98.png`, alt="", width='32', height='32')
						span.products__i-text Быстровпитывающие каналы
					li.products__i-item
						.products__i-img
							img(src=`${baseDir}/img/image97.png`, alt="", width='32', height='32')
						span.products__i-text Специальные фильтры, устраняющие запах
					li.products__i-item
						.products__i-img
							img(src=`${baseDir}/img/image99.png`, alt="", width='32', height='32')
						span.products__i-text Защита на всю ночь
			a.products__more-link(href="#") Подробнее
	template.js-main-img-template
		img.js-main-img(src="", alt="", width='351', height='400')
