block top
	if (page != 'about-item')
		section.top(class=`top--${page}`)
			if (page == 'main-page')
				.container(class=`${page}__container`)
					.top__slider.swiper.js-main-slider
						.top__slider-wrap.swiper-wrapper
							.top__slide.swiper-slide
								.top__slide-img
									img.swiper-lazy(loading='lazy' data-src=`${baseDir}/img/slider-img.jpg`, alt="", width='1280', height='440')
									.lazy-preloader.swiper-lazy-preloader
								.top__slide-content
									h2.top__slide-title Depend — комфортная защита на каждый день
									p.top__slide-text Прокладки и впитывающее белье Depend можно подобрать для любой степени недержания.
									a.top__slide-link(href="#") Подробнее
							.top__slide.swiper-slide
								.top__slide-img
									img.swiper-lazy(loading='lazy' data-src=`${baseDir}/img/slider-img-2.jpg`, alt="", width='1280', height='440')
									.lazy-preloader.swiper-lazy-preloader
								.top__slide-content
									h2.top__slide-title Живите в привычном ритме вместе с Depend!
									p.top__slide-text Продукты Depend для разной степени недержания позволят вам продолжать активно проводить время.
									a.top__slide-link(href="#") Подробнее
						.top__slider-pagination.js-slider-pagination
						.top__slider-navigation
							button.top__slider-prev-btn.js-slider-prev
							button.top__slider-next-btn.js-slider-next
			if (page == 'about')
				.container(class=`${page}__container`)
					.top__wrap
						+breadcrumb(['Главная'], 'О недержании')
						.top__img
							img(src=`${baseDir}/img/about-img.jpg`, alt="", width='1280', height='440')
						h1.top__title=title

			if (page == 'products')
				.container(class=`${page}__container`)
					.top__wrap
						+breadcrumb(['Продукция'], 'Для женщин')
						.top__img
							img(src=`${baseDir}/img/for-woman.jpg`, alt="", width='1280', height='440')
						h1.top__title=title

			if (page == 'coupon')
				.container(class=`${page}__container`)
					.top__wrap(class=`${page}__top-wrap`)
						+breadcrumb(['Главная'], 'Дарим купон на скидку 50%!')
						.top__img(class=`${page}__top-img`)
							picture
								source(media="(min-width: 575px)", srcset=`${baseDir}/img/coupon-bg.jpg`)
								img(src=`${baseDir}/img/coupon-bg-mob.jpg`, alt="", width='1280', height='440')
						.top__text-content
							.top__text-wrap
								h1.top__title(class=`${page}__top-title`)=title
								p.top__text Получите купон на дополнительную скидку 50% на первую покупку впитывающего нижнего белья от Depend. Не упустите свою выгоду!
